.site-header {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

.site-header .container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.site-header .container .white-bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    transition: top 0.3s ease;
    /* 添加过渡动画 */
}

nav {
    width: 1200px;
    margin: 0 auto;
}


nav ul {
    width: 100%;
    height: 70px;
    /* margin: 0 auto; */
    align-items: center;
    font-family: '华文隶书';
    font-size: 30px;
    height: 70px;
    line-height: 70px;
}

nav ul li {
    height: 100%;
    position: relative;
    float: left;
    width: 20%;
    text-align: center;
}

nav ul li a {
    position: relative;
    display: inline-block;
    height: 100%;
    color: #fff;
}

/* 默认颜色 */
.site-header .underline {
    color: #fff;
    transition: color 0.3s ease;
}

/* 深色主题（用于第一页） */
.site-header.dark-nav .underline {
    color: #fff;
}

/* 白色主题（用于其它页） */
.site-header.white-nav .underline {
    color: #000;
}

.site-header.white-nav .underline.active,
.site-header.white-nav .underline:focus,
.site-header.white-nav .underline:active,
.site-header.dark-nav .underline.active,
.site-header.dark-nav .underline:focus,
.site-header.dark-nav .underline:active {
    color: #9e3b3a;
}



.site-header .submenu {
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    /* 初始透明度为 0 */
    transition: opacity 0.2s ease-in-out;
    /* 添加透明度过渡效果，持续 0.2 秒 */
}


.site-header .submenu .menu {
    display: none;
}

.site-header .submenu .menu.active {
    display: block;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.site-header .menu a {
    color: white;
    font-family: '华文隶书';
    font-size: 30px;
    height: 70px;
    line-height: 70px;
}

/* 白色背景下的子菜单样式 */
.submenu.white-menu a {
    color: #000;
}

.submenu.white-menu a:hover,
.submenu.white-menu a:focus,
.submenu.white-menu a:active,
.submenu.dark-menu a:hover,
.submenu.dark-menu a:focus,
.submenu.dark-menu a:active {
    color: #9e3b3a;
}

/* 深色背景下的子菜单样式 */
.submenu.dark-menu a {
    color: #fff;
}

.submenu.white-bg {
    background-color: rgba(255, 255, 255, 0.5);

}

.submenu.dark-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul .underline::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #9e3b3a;
    height: 4px;
    transition-property: left, right;
    transition-duration: .3s;
    transition-timing-function: ease-out
}

.underline:hover::before,
.underline.hovered::before {
    left: 0;
    right: 0;
}

.swiper-main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #fff7ec;
}


.swiper {
    width: 100%;
    height: 100vh;
}


.screen1 .banner {
    width: 100%;
}


.screen2 .main {
    width: 100%;
    height: 573px;
    position: relative;
    background: #b8a083 url(../images/screen2.png) no-repeat 0 100%;
    background-size: cover;

    margin-top: 14%;
}